* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    padding: 16px;
}

@media (max-width: 768px) {
    #movies-container {
        grid-template-columns: 1fr !important;
    }
}

#movies-container {
    margin-top: 20px;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    > div {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 8px;
        overflow: hidden;
        cursor: pointer;

        > h1 {
            font-size: 20px;
        }

        > img {
            width: 100%;
            border-radius: 8px;
        }

        > p {
            font-size: 14px;
            line-height: 1.5;
            height: 63px;
        }

        > div {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
        }
    }
}
